.card_content {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 1em 1em 1em;
    max-width: 1300px;
    margin: 0 auto;
}


.user {
    border: 0.05em solid rgb(155, 151, 151);
    background: linear-gradient(to right, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 18%, rgba(47,46,45,1) 47%, rgba(77,77,76,1) 77%, rgba(99,99,99,1) 100%);
    border-radius: 1rem;
    box-shadow: 0.3em 0.3em 0.3em rgb(185, 179, 179);
    width: 100%;
    max-width: 320px;
    padding: 0.8em;
    transition: transform 200ms ease;
    position: relative;
}

.user:hover {
    transform: scale(1.02);
}

.user_name {
    font-weight: 400;
    margin-bottom: 0.7em;
    color: white;
}

.user_list {
    display: grid;
    gap: 0.8rem;
}

.user_item {
    display: grid;
}

.user_label {
    padding-left: 1em;
    color: #a89f9fc7;
    font-size: 0.9rem;
}

.user_value-content {
    display: flex;
    align-items: center;
}

.user_value-content>.bx {
    margin-right: 0.5em;
}

.user_value-email {
    margin-bottom: 5px;
    color: white;
}

.user_value-birthday{
    color: white;
}

.bx-envelope, .bx-gift{
    color: #a89f9fc7;
}

.user_hr {
    border: 1px solid rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}

.user_footer {
    height: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.3em;
}

.user_footer-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0635b500;
    width: 100%;
    height: 100%;
}


.user_footer-delete-close {
    transform: scale(0);
}

.user_footer-delete-title {
margin-bottom: 0.25em;   
 font-size: 1.2em;
    font-weight: 400;
}

.user_footer-delete-btns {
    display: flex;
    gap: 0.3em;
    margin-left: 0.4em;
    font-size: 1.5em;
}

.bx-check-circle {
    color: green;
}

.circle_user{
    color:red;
}

.bx-check-circle:hover , .circle_user:hover{
    transform: scale(1.2);
}



.user_btn {
    font-size: 1.2rem;
    background-color: inherit;
    border-radius: 0.2em;
    transition: box-shadow 200ms, filter 200ms;
}

.user_btn:hover {
    filter: brightness(1.05);
    box-shadow: 0 0 0.15em black;
}

.user_delete {
    background: #D85D5D;
    color: white;
}

.user_update {
    color: #1a1313c7;
    border: 0.05em solid currentColor;
}

.user_img{
    width: 150px;
    position: absolute;
    top: 10px;
    right: 10px;
}